@{ViewBag.Title = "Success";}


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Error</h2>
<br />
<p>
    There was an error processing your request.
    This problem will be fixed shortly. 
    In the mean time, feel free to browse our @Html.ActionLink("bikes","Index","Bikes")!
</p>

