
@{ViewBag.Title = "Success";}


@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Success</h2>
<br />
<p>
    Thank you for sending us feedback.
    If you haven't already, go on and browse our @Html.ActionLink("bikes", "Index", "Bikes")!
</p>

