body {
    padding-top: 50px;
    padding-bottom: 20px;
    min-width:320px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.detailsTable td{
    width:300px;
}
.detailsTable th {
    width: 300px;
    font:500;
}
.detailsTable tr:nth-child(even) {
    background-color: #CCCCCC;
}

.homeTable td{
    border-bottom:solid;
}

.homeIndexImages{
    height:auto;
    width:100%; 
}

.bikesDetailImages{
    width:100px;
}

.navbar-form{
    width:258px;
}
img{
    max-width:100%;
    height:auto;
}
.tables-area table td:first-child{
    padding:0 5px 0 0;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next{
    right: 50%;
    margin: -10px 0 0 -10px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev{
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
    margin-top: -10px;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev{
    left: 50%;
    margin-left: -10px;
}
@media screen and (min-width: 768px) {
    .container>.navbar-header,
    .container>.navbar-collapse{
        padding:0;
        margin:0 -15px;
    }    
}
@media screen and (max-width: 767px){
    h1{
        font-size:20px;
    }
    h2{
        font-size:18px;
    }
    .navbar-form{
        width:auto;
    }
    .navbar-form .form-control{
        max-width:100%;
    }
    .tables-area{
        overflow:auto;
        max-height:500px;
    }
    .tables-area table{
        min-width:600px;
    }
    .tables-area table td{
        padding: 0 5px;
    }
    .carousel-control{
        font-size:16px;
    }
    .carousel-indicators{
        bottom:0;
    }
}
/* Gallery manager*/
.slideshow{
    width:100%;
    height:600px !important;
}

.slideshowGallery{
    width:800%;
    height:300px !important;
}

/*
Theme Name: jqueryui-com
Template: jquery
*/

a,
.title {
	color: #B24926;
}

#content a:hover {
	color: #333;
}

#banner-secondary p.intro {
	padding: 0;
	float: left;
	width: 50%;
}

#banner-secondary .download-box {
	border: 1px solid #aaa;
	background: #333;
	background: -webkit-linear-gradient(left, #333 0%, #444 100%);
	background: linear-gradient(to right, #333 0%, #444 100%);
	float: right;
	width: 40%;
	text-align: center;
	font-size: 20px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
}

#banner-secondary .download-box h2 {
	color: #71D1FF;
	font-size: 26px;
}

#banner-secondary .download-box .button {
	float: none;
	display: block;
	margin-top: 15px;
}

#banner-secondary .download-box p {
	margin: 15px 0 5px;
}

#banner-secondary .download-option {
	width: 45%;
	float: left;
	font-size: 16px;
}

#banner-secondary .download-legacy {
	float: right;
}

#banner-secondary .download-option span {
	display: block;
	font-size: 14px;
	color: #71D1FF;
}

#content .dev-links {
	float: right;
	width: 30%;
	margin: -15px -25px .5em 1em;
	padding: 1em;
	border: 1px solid #666;
	border-width: 0 0 1px 1px;
	border-radius: 0 0 0 5px;
	box-shadow: -2px 2px 10px -2px #666;
}

#content .dev-links ul {
	margin: 0;
}

#content .dev-links li {
	padding: 0;
	margin: .25em 0 .25em 1em;
	background-image: none;
}

.demo-list {
	float: right;
	width: 25%;
}

.demo-list h2 {
	font-weight: normal;
	margin-bottom: 0;
}

#content .demo-list ul {
	width: 100%;
	border-top: 1px solid #ccc;
	margin: 0;
}

#content .demo-list li {
	border-bottom: 1px solid #ccc;
	margin: 0;
	padding: 0;
	background: #eee;
}

#content .demo-list .active {
	background: #fff;
}

#content .demo-list a {
	text-decoration: none;
	display: block;
	font-weight: bold;
	font-size: 13px;
	color: #3f3f3f;
	text-shadow: 1px 1px #fff;
	padding: 2% 4%;
}

.demo-frame {
	width: 70%;
	height: 350px;
}

.view-source a {
	cursor: pointer;
}

.view-source > div {
	overflow: hidden;
	display: none;
}



