@model IEnumerable<MVCBikesWebpage.ProductCategory>

@{
    ViewBag.Title = "Index";
}
<br />
@if (Request.UrlReferrer != null)
{
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
}
<h2>Browse Our Selection Of Cycling Accessories</h2>

<table class="table">
    
@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", "Gear", new { id = item.ProductCategoryID }, null)
        </td>
    </tr>
}

</table>
