@{
    ViewBag.Title = "Bikes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@if (Request.UrlReferrer != null)
{
    <a class="bottomNav" onclick="history.go(-1); return false;" href="#">Back</a><br />
}
<h2>Browse Our Bike Models</h2>
    <div id="carousel-example-generic_1" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic_1" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic_1" data-slide-to="1"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            @for (int i = 0; i < Model.Gallery.Count; i++)
            {
                <div class="item @(i == 0 ? "active" : "")">
                    <img src="@Model.Gallery[i]" class="slideshow">
                </div>
            }
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic_1" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic_1" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
@foreach (var item in Model.Products)
{
    
    @Html.ActionLink((string)item.Name, (string)item.Name.Substring(0, item.Name.IndexOf(' ')),"bikes");
           
    <br />
    <br />

}

